.demo form { float: left; margin-bottom: 15px; width: 300px }

.demo label { color: #333; font-size: 1.5em; font-weight: 500; letter-spacing: .7px; margin-left: 3px; vertical-align: middle }

.demo input[type="color"],
.demo input[type="date"],
.demo input[type="datetime"],
.demo input[type="datetime-local"],
.demo input[type="email"],
.demo input[type="file"],
.demo input[type="hidden"],
.demo input[type="month"],
.demo input[type="number"],
.demo input[type="password"],
.demo input[type="range"],
.demo input[type="search"],
.demo input[type="tel"],
.demo input[type="text"],
.demo input[type="textarea"],
.demo input[type="time"],
.demo input[type="url"],
.demo input[type="week"]
{ border: 1px solid #CCC; border-radius: 4px; color: #333; font-size: 1.5em; margin-bottom: 12px; min-height: 35px; padding: 7px; transition: all 0.15s ease-in 0s; width: calc(100% - 15px) }

.demo input[type="color"]:focus,
.demo input[type="date"]:focus,
.demo input[type="datetime"]:focus,
.demo input[type="datetime-local"]:focus,
.demo input[type="email"]:focus,
.demo input[type="file"]:focus,
.demo input[type="hidden"]:focus,
.demo input[type="month"]:focus,
.demo input[type="number"]:focus,
.demo input[type="password"]:focus,
.demo input[type="range"]:focus,
.demo input[type="search"]:focus,
.demo input[type="tel"]:focus,
.demo input[type="text"]:focus,
.demo input[type="textarea"]:focus,
.demo input[type="time"]:focus,
.demo input[type="url"]:focus,
.demo input[type="week"]:focus
{ border-color: #EEE }

.demo textarea { border: 1px solid #CCC; border-radius: 4px; color: #333; font-size: 1.5em; margin-bottom: 12px; min-height: 80px; padding: 7px; transition: all 0.15s ease-in 0s; width: calc(100% - 15px) }
.demo textarea:focus { border-color: #EEE }

.demo select { border: 1px solid #CCC; border-radius: 4px; color: #333; font-size: 1.5em; margin-bottom: 12px; min-height: 45px; padding: 13px 5px; width: 100% }
.demo select:focus { border-color: #EEE }

.demo select[multiple="true"] { height: 88px }

.demo .checkables { margin-bottom: 10px }

.demo .checkables input[type="radio"] { margin-right: 2px; vertical-align: middle }
.demo .checkables input[type="radio"]:focus { border-color: #EEE }

.demo .checkables input[type="checkbox"] { margin-right: 2px; vertical-align: middle }
.demo .checkables input[type="checkbox"]:focus { border-color: #EEE }

.demo .button { border: medium none; border-radius: 1px; color: #FFF; font-size: 1.5em; font-weight: bold; padding: 9px 9px 12px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) }
.demo .button.gray { background-color: #EAEAEA; background-image: linear-gradient(#FAFAFA, #EAEAEA); border-color: #DDD #DDD #C5C5C5; border-style: solid; border-width: 1px; color: #444; padding: 10px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) }
.demo .button.gray:hover { background-color: #DADADA; background-image: linear-gradient(#EAEAEA, #DADADA); border-color: #B5B5B5 }
.demo .button.gray:active { background-color: #DADADA; background-image: none; border-color: #51A7E8; }

/* custom */
.modaly .header { background: url('../img/modal.png') repeat; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 10px 18px 7px }
.modaly .header h3 { font-size: 2em; margin-bottom: 3px; margin-top: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) }
.modaly .header p { color: #444; font-size: 1.3em; margin: 7px 0px; text-shadow: none }
.modaly .header .close { font-size: 2.2em; font-weight: bold; position: absolute; right: 14px; text-shadow: 0 1px 0 #FFF; top: 3px }
.modaly .header .close:hover { opacity: .7; filter: alpha(opacity = 40) }

.modaly .body { background-color: #FFF; color: #111; font-size: 1.4em; overflow: auto; padding: 10px 0 21px; text-align: center }
.modaly .body ul li { text-align: left }

.demo .open { font-size: 1.4em }

.demo #logged-demo label { font-size: 1.2em }
